.link {
  text-decoration: none; /* Removes underline from links */
  color: black; /* Sets the font color to black */
}

.link2 {
  text-decoration: none; /* Removes underline from links */
  color: purple; /* Sets the font color to black */
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the children */
  min-height: 100vh;
}

.div-2, .div-3, .div-4, .div-7, .div-10, .div-15, .div-16, .div-17, .div-18, .div-25, .div-33, .div-34, .div-35, .div-40, .div-45, .div-50, .div-51, .div-52, .div-53, .div-54, .div-55, .div-56, .div-57, .div-58, .div-60, .div-62, .div-64, .div-65, .div-66, .div-67, .div-68, .div-69, .div-71, .div-73, .div-75, .div-76, .div-77, .div-78, .div-79, .div-80, .div-81, .div-83, .div-85, .div-87, .div-88, .div-89, .div-90, .div-91, .div-92, .div-93, .div-94, .div-95, .div-96, .div-97, .div-98, .div-99, .div-100, .div-101, .div-102, .div-103, .div-104, .div-105, .div-106, .div-107, .div-108, .div-109, .div-110, .div-111, .div-112, .div-113, .div-114, .div-115, .div-116, .div-117, .div-118, .div-119, .div-120, .div-121, .div-122, .div-123, .div-124, .div-125 {
  box-sizing: border-box; /* Add box-sizing */
}

/* Responsive images */
.img, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8, .img-9, .img-10, .img-11, .img-12, .img-13, .img-14, .img-15, .img-16, .img-17, .img-18, .img-19, .img-20, .img-21, .img-22, .img-23, .img-24, .img-25, .img-26, .img-27, .img-28, .img-29, .img-30, .img-31, .img-32, .img-33 {
  max-width: 100%;
  height: auto;
}

/* Flexbox for nav and other sections */
.div-4, .div-7, .div-10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 991px) {
  .div-2, .div-3, .div-4, .div-7, .div-10 {
    flex-direction: column;
    align-items: flex-start;
  }
  .div-5, .div-6, .div-8, .div-9, .div-11, .div-12, .div-13, .div-14, .div-15 {
    margin: 5px 0;
  }
}


.div-2 {
border-bottom: 1px solid var(--Grey-15, #262626);
z-index: 1;
display: flex;
width: 100%;
flex-direction: column;
}
@media (max-width: 991px) {
.div-2 {
  max-width: 100%;
}
}

.div-3 {
justify-content: center;
align-items: center;
border-bottom: 1px solid var(--Grey-15, #262626);
background-color: var(--Grey-10, rgba(26, 26, 26, 0));
display: flex;
width: 100%;
padding-right: 7px;
flex-direction: column;
}
@media (max-width: 991px) {
.div-3 {
  max-width: 100%;
}
}
.div-4 {
disply: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
overflow: hidden;
position: relative;
display: flex;
min-height: 49px;
width: 100%;
gap: 20px;
padding: 12px 26px 12px 80px;
}
@media (max-width: 991px) {
.div-4 {
  max-width: 100%;
  flex-wrap: wrap;
  padding: 0 20px;
}
}
.img {
position: absolute;
inset: 0;
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
}
.div-5 {
position: relative;
color: var(--Absolute-White, #121019);
text-align: center;
margin: auto 0;
font: 500 14px/150% Urbanist, sans-serif;
}
.div-6 {
position: relative;
justify-content: center;
align-items: center;
border-radius: 75px;
background-color: rgba(255, 255, 255, 0.1);
align-self: stretch;
display: flex;
aspect-ratio: 1;
flex-direction: column;
width: 26px;
height: 26px;
padding: 0 4px;
}
.img-2 {
aspect-ratio: 1;
object-fit: contain;
object-position: center;
width: 100%;
overflow: hidden;
}
.div-7 {
justify-content: space-between;
align-items: center;
background-color: var(--Grey-10, rgba(26, 26, 26, 0));
display: flex;
width: 100%;
gap: 20px;
padding: 14px 80px;
}
@media (max-width: 991px) {
.div-7 {
  max-width: 100%;
  flex-wrap: wrap;
  padding: 0 20px;
}
}
.div-8 {
display: flex;
gap: 5px;
margin: auto 0;
}
.img-3 {
aspect-ratio: 1;
object-fit: contain;
object-position: center;
width: 34px;
fill: #fff;
overflow: hidden;
max-width: 100%;
}
.div-9 {
color: #141414;
align-self: center;
flex-grow: 1;
white-space: nowrap;
margin: auto 0;
font: 500 14px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
.div-9 {
  white-space: initial;
}
}
.div-10 {
align-self: start;
display: flex;
margin-top: 7px;
justify-content: space-between;
gap: 20px;
}
.div-11 {
color: var(--Absolute-White, #121019);
white-space: nowrap;
border-radius: 8px;
border: 1px solid var(--Grey-15, #262626);
background-color: var(--Grey-0, #fff);
flex-grow: 1;
justify-content: center;
padding: 0 20px;
font: 500 14px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
.div-11 {
  white-space: initial;
}
}
.div-12 {
color: var(--Absolute-White, #121019);
font: 500 14px/150% Urbanist, sans-serif;
}
.div-13 {
color: var(--Absolute-White, #121019);
font: 500 14px/150% Urbanist, sans-serif;
}
.div-14 {
color: var(--Absolute-White, #121019);
flex-grow: 1;
white-space: nowrap;
font: 500 14px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
.div-14 {
  white-space: initial;
}
}
.div-15 {
align-items: center;
border-radius: 8px;
border: 1px solid var(--Grey-40, #666);
background-color: var(--Grey-0, #fff);
align-self: stretch;
display: flex;
aspect-ratio: 1.6578947368421053;
flex-direction: column;
justify-content: center;
padding: 7px 20px;
}
.img-4 {
aspect-ratio: 1;
object-fit: contain;
object-position: center;
width: 24px;
overflow: hidden;
}

.div-16 {
  z-index: 1;
  display: flex;
  margin-top: 82px;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-17 {
  background-color: #ebebff;
  display: flex;
  width: 70px;
  height: 745px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-17 {
    display: none;
  }
}
.div-18 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* If you want to center it vertically as well */
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
  width: 100%; /* or max-width if you want to constrain it */
  /* ... your other styles ... */
}
@media (max-width: 991px) {
  .div-18 {
    max-width: 100%;
  }
}
.div-19 {
  width: 100%;
  max-width: 1267px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
  }
}
.div-20 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-20 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-21 {
  color: var(--Absolute-White, #121019);
  text-align: center;
  margin: auto 0;
  font: 400 60px/90px Kaushan Script, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-21 {
    margin-top: 40px;
    font-size: 40px;
    line-height: 67px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 67%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-22 {
  background-color: #ebebff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 80%;
  padding: 26px 80px 50px 40px;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 10%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-23 {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-23 {
    max-width: 100%;
    margin-right: 10px;
    flex-wrap: wrap;
  }
}
.img-5 {
  aspect-ratio: 1.3;
  object-fit: contain;
  object-position: center;
  width: 125px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  max-width: 100%;
}
.div-24 {
  color: #5700ff;
  letter-spacing: -0.1px;
  text-decoration-line: underline;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 500 16px/24px Urbanist, sans-serif;
}
.div-25 {
  color: var(--Absolute-White, #121019);
  align-self: start;
  margin: 52px 0 0 23px;
  font: 600 38px/150% Urbanist, sans-serif;
  
}
@media (max-width: 91px) {
  .div-25 {
    margin: 40px 0 0 10px;
  }
}
.div-26 {
  align-self: start;
  width: 599px;
  max-width: 100%;
  margin: 48px 0 155px 24px;
}
@media (max-width: 991px) {
  .div-26 {
    margin: 40px 0;
  }
}
.div-27 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-27 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 52%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-28 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-28 {
    margin-top: 40px;
  }
}
.div-29 {
  color: #000;
  letter-spacing: -0.1px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-30 {
  background-color: #fff;
  display: flex;
  margin-top: 13px;
  height: 34px;
  flex-direction: column;
}
.div-31 {
  color: #000;
  letter-spacing: -0.1px;
  margin-top: 32px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-32 {
  background-color: #fff;
  display: flex;
  margin-top: 13px;
  height: 34px;
  flex-direction: column;
}
.div-33 {
  color: #000;
  letter-spacing: -0.1px;
  margin-top: 29px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-34 {
  background-color: #fff;
  display: flex;
  margin-top: 16px;
  height: 34px;
  flex-direction: column;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 48%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-35 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-35 {
    margin-top: 40px;
  }
}
.div-36 {
  color: #000;
  letter-spacing: -0.1px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-37 {
  background-color: #fff;
  display: flex;
  margin-top: 13px;
  height: 34px;
  flex-direction: column;
}
.div-38 {
  color: #000;
  letter-spacing: -0.1px;
  margin-top: 32px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-39 {
  background-color: #fff;
  display: flex;
  margin-top: 13px;
  height: 34px;
  flex-direction: column;
}
.div-40 {
  color: #000;
  letter-spacing: -0.1px;
  margin-top: 29px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-41 {
  background-color: #fff;
  display: flex;
  margin-top: 16px;
  height: 34px;
  flex-direction: column;
}
.div-42 {
  disply: flex;
  flex-direction: column;
  color: #fff;
  letter-spacing: -0.1px;
  position: relative;
  white-space: nowrap;
  fill: #703bf7;
  overflow: hidden;
  aspect-ratio: 5.7272727272727275;
  margin-top: 42px;
  justify-content: center;
  max-width: 182px;
  padding: 11px 44px 11px 36px;
  font: 700 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-42 {
    white-space: initial;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-43 {
  position: relative;
}
.div-44 {
  color: #151515;
  letter-spacing: -0.1px;
  align-self: center;
  margin: auto 0;
  font: 700 16px/150% Urbanist, sans-serif;
}
.div-45 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-45 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.img-6 {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.img-7 {
  aspect-ratio: 0.97;
  object-fit: contain;
  object-position: center;
  width: 33px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.img-8 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.div-46 {
  border-bottom: 1px solid var(--Grey-15, #262626);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-46 {
    max-width: 100%;
  }
}
.div-47 {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-10, rgba(26, 26, 26, 0));
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div-47 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-48 {
  width: 100%;
  padding: 50px 79px;
}
@media (max-width: 991px) {
  .div-48 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-49 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-49 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 28%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.div-50 {
  align-items: start;
  display: flex;
  margin-top: 30px;
  padding-right: 21px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-50 {
    margin-top: 40px;
    padding-right: 20px;
  }
}
.img-9 {
  aspect-ratio: 3.32;
  object-fit: contain;
  object-position: center;
  width: 113px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-51 {
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-0, #fff);
  align-self: stretch;
  display: flex;
  margin-top: 24px;
  gap: 6px;
  padding: 14px 21px;
}
@media (max-width: 991px) {
  .div-51 {
    padding-right: 20px;
  }
}
.img-10 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  overflow: hidden;
  max-width: 100%;
  margin: auto 0;
}
.div-52 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.08px;
  font: 500 14px/24px Urbanist, sans-serif;
}
.img-11 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  fill: rgba(0, 0, 0, 0);
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 72%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.div-53 {
  justify-content: space-between;
  margin: auto 0;
  padding: 0 1px;
}
@media (max-width: 991px) {
  .div-53 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-54 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-54 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 16%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.div-55 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-55 {
    margin-top: 40px;
  }
}
.div-56 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  font: 500 18px/133% Urbanist, sans-serif;
}
.div-57 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-57 {
    white-space: initial;
  }
}
.div-58 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-58 {
    white-space: initial;
  }
}
.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 37%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}
.div-59 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-59 {
    margin-top: 40px;
  }
}
.div-60 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  font: 500 18px/133% Urbanist, sans-serif;
}
.div-61 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-62 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-62 {
    white-space: initial;
  }
}
.div-63 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-64 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-65 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 47%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-11 {
    width: 100%;
  }
}
.div-66 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-66 {
    margin-top: 40px;
  }
}
.div-67 {
  display: flex;
  flex-direction: column;
}
.div-68 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  white-space: nowrap;
  font: 500 18px/133% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-68 {
    white-space: initial;
  }
}
.div-69 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-70 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-70 {
    white-space: initial;
  }
}
.div-71 {
  display: flex;
  flex-direction: column;
}
.div-72 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  white-space: nowrap;
  font: 500 18px/133% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-72 {
    white-space: initial;
  }
}
.div-73 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-73 {
    white-space: initial;
  }
}
.div-74 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-74 {
    white-space: initial;
  }
}
.div-75 {
  justify-content: space-between;
  background-color: var(--Grey-10, rgba(26, 26, 26, 0));
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 12px 80px;
}
@media (max-width: 991px) {
  .div-75 {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.div-76 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}
.div-77 {
  color: var(--Absolute-White, #fff);
  letter-spacing: -0.08px;
  flex-grow: 1;
  white-space: nowrap;
  font: 500 14px/24px Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-77 {
    white-space: initial;
  }
}
.div-78 {
  color: var(--Absolute-White, #fff);
  letter-spacing: -0.08px;
  flex-grow: 1;
  white-space: nowrap;
  font: 500 14px/24px Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-78 {
    white-space: initial;
  }
}
.div-79 {
  justify-content: flex-end;
  align-self: center;
  display: flex;
  gap: 8px;
  margin: auto 0;
}
.div-80 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-12 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-81 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-13 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-82 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-14 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-83 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-15 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}




.div-93 {
  margin-top: 82px;
  width: 100%;
  padding: 50px 80px;
}
@media (max-width: 991px) {
  .div-93 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-94 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-94 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 27%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.div-95 {
  align-items: start;
  display: flex;
  margin-top: 30px;
  padding-right: 21px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-95 {
    margin-top: 40px;
    padding-right: 20px;
  }
}
.img-27 {
  aspect-ratio: 3.32;
  object-fit: contain;
  object-position: center;
  width: 113px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.div-96 {
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: var(--Grey-0, #fff);
  align-self: stretch;
  display: flex;
  margin-top: 24px;
  gap: 6px;
  padding: 14px 20px;
}
.img-28 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  overflow: hidden;
  max-width: 100%;
  margin: auto 0;
}
.div-97 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.08px;
  font: 500 14px/24px Urbanist, sans-serif;
}
.img-29 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  fill: rgba(0, 0, 0, 0);
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 73%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}
.div-98 {
  justify-content: space-between;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-98 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-99 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-99 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 20%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-11 {
    width: 100%;
  }
}
.div-100 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-100 {
    margin-top: 40px;
  }
}
.div-101 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  font: 500 18px/133% Urbanist, sans-serif;
}
.div-102 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-102 {
    white-space: initial;
  }
}
.div-103 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-103 {
    white-space: initial;
  }
}
.column-12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-12 {
    width: 100%;
  }
}
.div-104 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-104 {
    margin-top: 40px;
  }
}
.div-105 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  font: 500 18px/133% Urbanist, sans-serif;
}
.div-106 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-107 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-107 {
    white-space: initial;
  }
}
.div-108 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.column-13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 19%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-13 {
    width: 100%;
  }
}
.div-109 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-109 {
    margin-top: 40px;
  }
}
.div-110 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  white-space: nowrap;
  font: 500 18px/133% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-110 {
    white-space: initial;
  }
}
.div-111 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  font: 500 16px/150% Urbanist, sans-serif;
}
.div-112 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-112 {
    white-space: initial;
  }
}
.column-14 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 16%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-14 {
    width: 100%;
  }
}
.div-113 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-113 {
    margin-top: 40px;
  }
}
.div-114 {
  color: var(--Grey-60, #999);
  letter-spacing: -0.11px;
  white-space: nowrap;
  font: 500 18px/133% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-114 {
    white-space: initial;
  }
}
.div-115 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 24px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-115 {
    white-space: initial;
  }
}
.div-116 {
  color: var(--Absolute-White, #121019);
  letter-spacing: -0.1px;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 16px/150% Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-116 {
    white-space: initial;
  }
}
.div-117 {
  justify-content: space-between;
  background-color: var(--Grey-10, rgba(26, 26, 26, 0));
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 12px 80px;
}
@media (max-width: 991px) {
  .div-117 {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.div-118 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}
.div-119 {
  color: var(--Absolute-White, #fff);
  letter-spacing: -0.08px;
  flex-grow: 1;
  white-space: nowrap;
  font: 500 14px/24px Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-119 {
    white-space: initial;
  }
}
.div-120 {
  color: var(--Absolute-White, #fff);
  letter-spacing: -0.08px;
  flex-grow: 1;
  white-space: nowrap;
  font: 500 14px/24px Urbanist, sans-serif;
}
@media (max-width: 991px) {
  .div-120 {
    white-space: initial;
  }
}
.div-121 {
  justify-content: flex-end;
  align-self: center;
  display: flex;
  gap: 8px;
  margin: auto 0;
}
.div-122 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-30 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-123 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-31 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-124 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-32 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-125 {
  align-items: center;
  border-radius: 58px;
  background-color: var(--Grey-0, #fff);
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.img-33 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

.input {
  background-color: #fff;
  display: flex;
  margin-top: 13px;
  height: 34px;
  flex-direction: column;
  padding: 0;  /* Adjust padding as needed */
}

.input input[type="text"] {
  border: none;
  width: 100%;  /* Makes the input take the full width of its parent */
  height:100%;
  box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
}



.div-22 .btn {
  background-color: #6a5acd;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.div-22 .btn:hover {
  background-color: #5d4ab8;
}







